@import "../../../../../styles/styles.scss";
.login {
    height: 100vh; // Imposta l'altezza del componente a 100% della viewport height
    align-items: center;
    display: flex;
    justify-content: center; // Centra il contenuto orizzontalmente
  
    .mat-card {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center; // Centra il contenuto all'interno della card verticalmente
    }
  
    .login-form {
      width: 100%; // Assicura che il modulo di accesso abbia la larghezza massima consentita dalla card
      padding: 50px;
    }
  
    .error {
      color: red;
    }
  }
  