.register {
    height: 100vh; // Imposta l'altezza del componente a 100% della viewport height
    align-items: center;
    display: flex;
    justify-content: center; // Centra il contenuto orizzontalmente
  
    .mat-card {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .register-form {
      width: 100%;
      padding: 20px;
    }
  
    .error {
      color: red;
    }
  }