<mat-toolbar>
    <div class="left">
        <img src="/assets/logo_p6.png" alt="logo" />
    </div>
    <div class="right">
        <button mat-button routerLink="/posts">Post</button>
        <button mat-button routerLink="/topics">Topics</button>
        <button mat-icon-button routerLink="/profile">
            <mat-icon>account_circle</mat-icon>
        </button>
        <select class="dropdown-menu" style="display: none;" (change)="onSelectChange($event)">
            <option>Menu</option>
            <option value="/profile">Profile</option>
            <option value="/posts">Post</option>
            <option value="/topics">Topics</option>
        </select>
    </div>
</mat-toolbar>

