mat-toolbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.active-link {
  color: blue;
}

img {
  max-width: 20%;
  height: auto;
}

.left {
  display: flex;
}

.right {
  display: flex;
}

.mobil-menu {
  display: none;
}

.menuOpen {
  display: none;
}




@media (max-width: 768px) {
  .right button:not(.mobile-nav):not(.menuOpen) {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .menuOpen {
    display: block;
  }

  .mobil-menu {
    display: flex;
    flex-direction: column;
    z-index: 10;
    height: 100%;
    width: 30%;
    right: 0px;
    position: absolute;
    background-color: white;
    
  }
  a {
    text-decoration: none;
  } 

  img {
    max-width: 100px;
    min-width: 100px;
  }
}