
.topics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .topic-card {
    flex: 0 0 48%; // Questo farà in modo che ogni card occupi circa il 48% della larghezza del contenitore, permettendo di visualizzare 2 card per linea
  }

  .new-topic{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }